video {
/*width: 100vw;*/
  min-width: 180%;
  min-height: 100%;
  width: 1874px;
  height: 1500px;
  position: absolute;
  margin-top: 591px;
  /*top: 50%;*/
  left: 50%;
  transform: translate(-50%,-50%);

}

/*.videomanson {
  width: 200vw;
}*/
